<div style="padding: 20px; border: 1px solid #eee;">
  {% if block.settings.img != blank %}{{ block.settings.img | image_url: width: 500 | image_tag }}{% endif %}
  <h3>{{ block.settings.title }}</h3>
</div>

{% schema %}
{
  "name": "CX Media Card",
  "settings": [
    { "type": "image_picker", "id": "img", "label": "Image" },
    { "type": "text", "id": "title", "label": "Title", "default": "Media Card" }
  ]
}
{% endschema %}